{{extend 'layout2.html'}}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Bakul Nivas</h1>
	<h2>List of all concerned admins and wardens:</h2>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Designation</th>
				<th>E-Mail ID</th>
				<th>Mobile No.</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td>Prof. Shatrunjay Rawat</td>
				<td>Chair CoW</td>
				<td>shatrunjay.rawat@iiit.ac.in</td>
				<td>9491398522</td>
			</tr>

			<tr>
				<td>Dr Prabhakar B</td>
				<td>Chief Warden</td>
				<td>prabhakar.b@iiit.ac.in</td>
				<td>9550361980</td>
			</tr>

			<tr>
				<td>Dr RC Prasad </td>
				<td>Warden – Medical & Healthcare</td>
				<td>rcprasad@iiit.ac.in</td>
				<td>9246109160</td>
			</tr>
			
		</tbody>
	</table>

</body>
</html>