{{extend 'layout2.html'}}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Palash Nivas</h1>
	<h2>List of all concerned admins and wardens:</h2>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Designation</th>
				<th>E-Mail ID</th>
				<th>Mobile No.</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td>Prof. Shatrunjay Rawat</td>
				<td>Chair CoW</td>
				<td>shatrunjay.rawat@iiit.ac.in</td>
				<td>9491398522</td>
			</tr>

			<tr>
				<td>Mrs Asha Namboodiri</td>
				<td>Chief Warden</td>
				<td>ashamn@iiit.ac.in</td>
				<td>9849721480</td>
			</tr>

			<tr>
				<td>Dr Neelima Satyam</td>
				<td>Warden</td>
				<td>neelima.satyam@iiit.ac.in</td>
				<td>9440488034</td>
			</tr>
			
		</tbody>
	</table>

</body>
</html>